/****** General ***********/
*{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

:root{
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

body{
    margin: 0px;
    background-color: white;
    margin:0px;
}

article{
    height: 100%;
}

.container{
    min-width: 1025px;
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;
}

.activities-row, .main-content{
    margin-bottom: 30px;
}

[class*="-block"]{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    width: 0%;
    flex-grow: 1;
}

.full-block{
    width: 100%;
}

.two-thirds-block{
    flex-grow: 2.1;
}

.accomodations-row .third-block{
    min-width: 24%;
}

.section-title {
    font-size: 22px;
    margin: 0;
}

.euro {
    font-weight: 700;
}

a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    width: 100%;
}

/****** Font awesome ***********/

.fa-solid{
    color: var(--main-color);
}

.fa-star{
    width: 15px;
    height: 15px;
    margin: 0 2px;
}

[class*="fa-"]{
    display: flex;
    align-items: center;
    justify-content: center;
}

.neutral-star {
    color: var(--main-bg-color)
}

.filter .fa-solid{
    font-size: larger;
}

/******** HEADER **********/

.header-content{
    margin-bottom: 30px;
}

.header-top-row{
    justify-content: space-between;
    align-items: flex-start;
}

/****logo****/

.logo{
    width: 65px;
}

.logo img{
    width: 100%;
}

/****nav****/

.navigation-list nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navigation-list nav ul{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.navigation-list ul li{
    border-top: transparent 2px solid;
    margin: 0px 0px 0px 40px;
    padding-top: 12px;
    transition: 0.3s;
}

.navigation-list ul li:hover{
    border-top-color: var(--main-color);
    color: var(--main-color);
}

/********* search-components-row **********/

.search-components-row .row{
    width: 100%;
}

/***catchphrase***/

.catchphrase-block{
    row-gap: 8px;
    font-size: larger;
}

/****form*****/

.search-bar-row{
    height: 50px;
}

.fa-location-dot{
    color: black;
    height: 100%;
    width: 50px;
}

.search-bar-row form{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

.search-bar-row label{
    border-top: 1px solid var(--main-bg-color);
    border-bottom: 1px solid var(--main-bg-color);
    border-left: 1px solid var(--main-bg-color);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: var(--main-bg-color);
}

.text-field{
    border: 0px;
    border-top: 1px solid var(--main-bg-color);
    border-bottom: 1px solid var(--main-bg-color);
    padding: 0px;
    outline: none;
    background-color: white;
    color: black;
    text-align: center;
}

.submit-button{
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

.text-field, .submit-button{
    font-weight: bold;
    font-size: 100%;
}

/******filtres********/

.filters-row{
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0px;
}

.filter{
    margin-left: 15px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    background-color: white;
    border: 2px solid var(--main-bg-color);
    border-radius: 40px;
    transition: 0.3s;
}

.filter i{
    margin-right: 15px;
}

.filter:hover{
    background-color: var(--filter-bg-color);
}

/********MAIN**********/

.main-content{
    row-gap: 30px;
}

.accomodations-and-popular-row{
    column-gap: 30px;
}

.accomodations-block, .popular-block{
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
}

/********Search results**********/

.results-row{
    justify-content: flex-start;
    align-items: center;
}

.fa-info{
    height: 28px;
    width: 28px;
    border: 2px solid var(--main-bg-color);
    border-radius: 50% 50% 50% 50%;
    margin-right: 10px;
}

/********Accomodations**********/

.accomodations-row section{
    flex-grow: 1;
    display: flex;
}

.accomodations-row img{
    height: 140px;
    margin: 5px;
}

.accomodations-row .card-content{
    flex-grow: 2;
    align-content: space-between;
}

/********Popular**********/

.popular-block section{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.popular-row{
    flex-grow: 0.8;
}

.popular-row img{
    height: 158px;
    margin: 5px;
}

.popular-row .card-content{
    flex-grow: 1.5;
}

/****** Activities **********/

.activities-row{
    padding: 0 30px;
}

.activities-row .card-content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-evenly;
}

.activities-row img{
    height: 380px;
}

.activities-row .card-title{
    margin: 10px;
}

/******** Cards **********/

.cards-row{
    margin-left: -15px;
    margin-right: -15px;
    padding: 0 15px;
    column-gap: 30px;
}

.card{
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    display: flex;
}

.vertical-card{
    flex-direction: column;
    height: 100%;
}

.horizontal-card{
    flex-direction: row;
}

.card img {
    object-fit: cover;
}

.horizontal-card img{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.vertical-card img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-content{
    padding-top: 2px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 2px;
    row-gap: 0px;
}

.card-content{
    justify-content: space-between;
}

.card-title, .card-subtitle, .card-rating{
    margin: 6px 5px;
}

.card-title {
    font-size: 16px;
}

.card-rating{
   justify-content: flex-start; 
   width: 100%;
}

/*******FOOTER********/

footer{
    background-color: var(--main-bg-color); 
}

.footer-last-row{
    margin: 0px;
}

.footer-last-row .third-block{
    justify-content: flex-start;
    row-gap: 0px;
}

.footer-title{
    margin-top: 15px
}

.footer-title, .footer-link{
    margin-bottom: 15px;
    height: auto;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
   
}