/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid{
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    background-color: white;
    margin: 0px;
}

.main-container {
    width: 100%;
    min-width: 1025px;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.recherche, .hebergements-and-populaires, .activites {
    margin-bottom: 30px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    margin-top: 33px;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header ***********/
header {
    height: 80px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 62px;
    height: 20px;
}

.logo img{
    width: 100%;
}

nav{
    width: 20%;
}

nav, .navigation-list, .navigation-list li{
    height: 100%;
}

.navigation-list{
    height: 100%;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 100%;
}

.navigation-list li{
    border-top: transparent 2px solid;
    padding-top: 12px;
}
  
.navigation-list li:hover{
    border-top-color: var(--main-color);
    color: var(--main-color);
}

/****** Recherche ***********/
/*.recherche{
    margin-bottom: 30px;
}*/

.recherche >div{
    margin-top: 30px;
}

.recherche >p{
    margin-top: 5px;
    margin-bottom: 0px;
}

.recherche .fa-solid{
    display:flex;
    align-items: center;
    justify-content: center;
}

.search-bar{
    height: 50px;
}

.fa-location-dot{
    color: black;
    height: 100%;
    width: 50px;
}

.search-bar form{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}
.search-bar label{
    border-top: 1px solid var(--main-bg-color);
    border-bottom: 1px solid var(--main-bg-color);
    border-left: 1px solid var(--main-bg-color);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: var(--main-bg-color);
}

.text-field{
    border: 0px;
    border-top: 1px solid var(--main-bg-color);
    border-bottom: 1px solid var(--main-bg-color);
    padding: 0px;
    outline: none;
    background-color: white;
    color: black;
    text-align: center;
}

.submit-button{
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

.text-field, .submit-button, .filter{
    font-weight: bold;
    font-size: 100%;
}

.filters, .information{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.filter{
    margin-left: 15px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    border: 2px solid var(--main-bg-color);
    border-radius: 40px;
}

.search-bar i, .filter i{
    font-size: larger;
}

.filter i, .information i{
    margin-right: 15px;
}

.filter p{
    margin: 0px;
}

.filter:hover{
    background-color: var(--filter-bg-color);
}

.fa-info{
    height: 25px;
    width: 25px;
    border: 2px solid var(--main-bg-color);
    border-radius: 50% 50% 50% 50%;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    align-items: flex-start
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hebergements-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.hebergements-cards a {
    width: 30%;
}

.hebergements-cards img{
    width: 100%;
    height: 130px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activites ***********/
.activites {
    padding: 30px;
}

.activites-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.activites-cards a{
    width: 24%;
}

.activites-cards .card{
    height: 440px;
}

.activites-cards img{
    height: 380px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/****** Footer ***********/
footer{
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer-block{
    padding-left: 20px;
    box-sizing: border-box;
    width: 33%
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}